<form action="sended" method="POST">
    <p>Title: </p>
    <input type="text" name="title">
    <p>Contents: </p>
    <textarea name="contents"></textarea>
    <button type="submit">Register postages</button>
</form>