<h1>List of postage: </h1>
    <a href="/cad"><button>Register a post</button></a><br>
{{#each posts}}
    <br><small>{{dataValues.createdAt}}</small>
    <h1>{{dataValues.title}}</h1>
    <p>{{dataValues.contents}}</p>
    <a href="/delete/{{dataValues.id}}"><button>Delete this post</button></a>
    <hr>

{{/each}}